<div class="container">
  <div class="row">
    <div class="col-xs-2 verticalLine">
      <h1 align="right">Help Page</h1>
    </div>
    <div class="column-settings-12-10">
      <%= raw @help %>
    </div>
  </div>
</div>
