<div class="container" align="center">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="panel panel-primary" id="dashboard">
        <div class="panel panel-heading"> Administration Dashboard </div>
        <div class="panel panel-body">
          <ul>
            <li><%= link_to "Update User Status", admin_users_path %></li>
            <li><%= link_to "Art Piece Information", admin_art_pieces_path %></li>
            <li><%= link_to "Artist Information", admin_artists_path %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>