<h1> Edit <%= @artist.name %> </h1>
<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <%= render "artist_form" %>
    </div>
    <div class="col-xs-4">
      
    </div>
  </div>
</div>