<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <h1> Edit Artist Information </h1>
      <% if @artists.count == 0 %>
        No Artists Are Currently In The Database
      <% else %>
        <%= render "index_artists" %>
      <% end %>
    </div>
    <div class="col-xs-4">
      <div class="panel panel-default">
        <div class="panel panel-heading">
          Add New
        </div>
        <div class="panel panel-body">
          <%= link_to "Add Artist", new_admin_artist_path %>
        </div>
      </div>
    </div>
  </div>
</div>