<div id="picture">
  <div class="fields">
    <%= f.input :photo, :as => :file, wrap_with: {class: :error} %>
    <%= f.hidden_field :_destroy %>
    <%= link_to_remove_fields "remove", f %>
  </div>
</div>
