<footer id="dynamicFooter" class="footer" align='center'>
  <%= raw Setting.copyright %>
</footer>
<div class="navbar navbar-default navbar-fixed-bottom btn-group" align="center">
  <button type="button" class="btn btn-default theButton pull-right scroll-top-wrapper"><p align='center'><u>Top</u></p></button>
</div>