<footer></footer>
<div class="navbar navbar-default navbar-fixed-bottom footer btn-group" align="center">
  <button type="button" class="btn btn-default theButton pull-right scroll-top-wrapper"><p align='center'><u>Top</u></p></button>
  <%= raw Setting.copyright %>
</div>