<div class="footer" align="center">
  <%= raw Setting.copyright %>
</div>
<hr>
<div class="navbar navbar-default navbar-fixed-bottom" align="center">
  <button type="button" class="btn btn-default pull-right scroll-top-wrapper"><p align='center'>Top</p></button>
</div>