<div class="footer" align="center">
  <%= raw Setting.copyright %>
</div>
<div class="scroll-top-wrapper navbar navbar-default navbar-fixed-bottom" align="center">
  <button type="button" class="btn btn-default pull-right"><p align='center'>Top</p></button>
</div>