<div id="welcomeSection">
  <div class="row">
    <div class="col-xs-4 col-xs-5-offset col-md-2 col-md-5-offset horizontalLine">
      <div class="largerFont" align="left">Welcome</div>
    </div>
  </div>
  <div class="row">
    <div class='col-xs-12 col-md-7 col-md-5-offset col-lg-12 noLeftPadding'>
      <%= raw Setting.Home %>
    </div>
  </div>
</div>

<% # container for all documents in map view -%>
<div id="documents" class="map">
  <%= render "map" %>
</div>
