<h3> To Alter this page, change the _home_text.html.erb in the app/views/catalog </h3>
<% # container for all documents in map view -%>
<div id="documents" class="map">
  <%= blacklight_map_tag('blacklight-map') %>
  <div id="blacklight-map-sidebar"><%= "hello" %></div>
  <%= javascript_tag "$('#blacklight-map').blacklight_leaflet_map(#{serialize_geojson});" %>
</div>

