<div id="welcomeSection" class="container">
  <div class="row">
    <div class="col-xs-1 col-xs-5-offset horizontalLine" align="left">
      <div class="largerFont" align="left">Welcome</div>
    </div>
  </div>
  <div class="row">
    <div class='col-xs-6 col-xs-5-offset noLeftPadding'>
      <%= raw Setting.Home %>
    </div>
  </div>
</div>

<% # container for all documents in map view -%>
<div id="documents" class="map">
  <%= render "map" %>
</div>
