.leaflet-marker-icon {
  width: 30px !important;
  height: 30px !important;
}
.marker-cluster-medium > div {
  width: 20px !important;
  height: 20px !important;
}
.marker-cluster-small > div {
  width: 20px !important;
  height: 20px !important;
}
.marker-cluster-large > div {
  width: 20px !important;
  height: 20px !important;
}
.marker-cluster > div > span {
  line-height: 18px;
}
.navbar-fixed-bottom {
  background-color: transparent;
  border: 10px solid transparent;
  left: initial;
}
.theButton {
  height:35px;
  width:50px;
  background-color: rgb(50,49,49);
  border-color: transparent;
  color: white;
}
.theButton:hover {
  background-color: rgb(93,135,161);  
  border-color: transparent;
  color: white;
}