#header-navbar {
  .navbar-brand {  /* The main logo image for the Blacklight instance */
    width: 215px;
    height: 61px;
    background:transparent image_url('art_walk_logo.png') no-repeat top left;
    color: transparent;
    &:hover {
        color: transparent;
    }
  }
}