.facet_limit.panel-default {
  border: 2;
  border-color: rgb(93,135,161);
};
.facet_limit.panel-default > .panel-heading.collapse-toggle {
  background-color: rgb(93,135,161);
  color: white;
};
.facet_limit.panel-default > .panel-heading.collapse-toggle.collapsed {
  background-color: rgb(50,49,49);
  color: white;
};
.facet_limit.panel-default > .panel-collapse.in {
  background-color: lighten(rgb(93,135,161), 47%);
};
a.facet_select {
  color: black;
}
a.more_facets_link {
  color: black;
};
a.facet_select:hover {
  color: black;
};
.panel-default > .panel-heading {
  background-color: rgb(50,49,49);
  color: white;
};
.panel-default > .panel-heading a {
  color: white;
};
.panel-default > .panel-heading  a:hover {
  color: lighten(#000, 93.5%);
};
